@import 'tailwindcss';

@theme {
    --color-blackBg: #000001;
    --color-primary: #f5f5f5;
    --color-dark: #17181c80;

    --font-canela: var(--font-canela), sans-serif;

    --breakpoint-xs: 360px;
}
